version: 2
jobs:
  build:
    working_directory: ~/unravel

    docker:
      - image: circleci/clojure:boot-2.7.1
    environment:
      LEIN_ROOT: nbd
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: clojure
      - run: boot -d org.clojure/clojure:1.9.0-alpha17 show --deps
      - run: sudo curl -o /usr/local/bin/lein https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein && sudo chmod +x /usr/local/bin/lein
      - save_cache:
          paths:
            - ~/.m2
          key: clojure
      - run: lein cljfmt check
      - run: |
              sudo apt-get update && \
              sudo apt-get install -y curl && \
              sudo curl --silent --show-error -Lo /usr/local/bin/yarn https://github.com/yarnpkg/yarn/releases/download/v1.3.2/yarn-1.3.2.js && \
              sudo chmod +x /usr/local/bin/yarn && \
              curl --silent --show-error -Lo /tmp/node.tar.xz https://nodejs.org/dist/v8.9.1/node-v8.9.1-linux-x64.tar.xz && \
              sudo tar -C /usr/local --strip-components 1 -xf /tmp/node.tar.xz
      - run: node --version
      - run: yarn
      - run: scripts/tests
      - run: lein -v
